<p id="notice"><%= notice %></p>

<h1>Tool Types</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tool_types.each do |tool_type| %>
      <tr>
	<td><%= tool_type.id %></td>
	<td><%= tool_type.name %></td>
        <td><%= link_to 'Show', tool_type %></td>
        <td><%= link_to 'Edit', edit_tool_type_path(tool_type) %></td>
        <td><%= link_to 'Destroy', tool_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tool Type', new_tool_type_path %>
