<%= form_for(norm) do |f| %>
  <% if norm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(norm.errors.count, "error") %> prohibited this norm from being saved:</h2>

      <ul>
      <% norm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<tr><td>Name</td><td><%= f.text_field :name %></td></tr>
<tr><td>Label</td><td><%= f.text_field :label %></td></tr>
<tr><td>Description</td><td><%= f.text_field :description %></td></tr>
<tr><td>Speed</td><td><%= f.select :speed_id, Speed.all.map{|s| [s.name, s.id]} %></td></tr>
<tr><td>Link</td><td><%= f.text_field :link, :size => 100 %></td></tr>
<tr><td>Command line</td><td><%= f.text_field :program, :size => 100 %></td></tr>
<tr><td>Attributes</td><td><%= f.text_area :attrs_json, :cols => 100, :rows => 30 %></td></tr>
<tr><td>Output is LOG</td><td><%= f.check_box :output_is_log %></td>
<tr><td>Hidden</td><td><%= f.check_box :hidden %></td>
<tr><td>Handles log</td><td><%= f.check_box :handles_log %></td></tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
