<%= form_for(step) do |f| %>
  <% if step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    

    <table>
<tr><td>Object name</td><td><%= f.text_field :obj_name %></td></tr>
<tr><td>Name</td><td><%= f.text_field :name %></td></tr>
<tr><td>Label</td><td><%= f.text_field :label %></td></tr>
<tr><td>Description</td><td><%= f.text_area :description %></td></tr>
</table>

    <%= f.submit %>
  </div>
<% end %>
